:root {
	--primary-color: #F0F0F0;
	--secondary-color: #65756B
	--font-color: #2A2A2A
}

html {
	font-size: 16px;
}

body {
	background-color: var(--primary-color);
	font-family: "Founders Grotesk", sans-serif;
	max-width: 1900px;
	margin: auto;
}

main {
	width: 90%;
	margin: 1rem auto;
}

img {
	width: 100%;
	height: 100%;
}

h1 {
	margin-bottom: 1rem;
}

h2 {
	margin-bottom: 1rem;
}
	
p {
	padding: 0.2rem 0;
}

a {
	text-decoration: none;
	color: var(--font-color)
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: red;
}

.nav__list {
	display: flex;
	gap: 1rem;
	list-style: none;
	text-transform: uppercase;
}

.mobile__nav-toggle {
	display: none;
}

.header__section {
	width: 90%;
	margin: 1rem auto;
}

.grid__template {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(1, 1fr);
}

.section__container-centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 3rem 0;
}

.description {
margin-top: 1%;
position: relative;
font-size: 0.702rem;
}

.description::before {
	content: "";
	width: 100%;
	height: 1px;
	background-color: #2A2A2A;
	position: absolute;
	top: -2px;
}

.grid__number-wrap {
	visibility: hidden;
}

.section__about {
	max-width: 30rem;
	margin: auto;
}

.footer {
	width: 90%;
	margin: 1rem auto;
}

.footer__container {
	border-top: 1px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem 0;
}

.footer__nav {
	margin: 1rem 0;
}




/* Navigation */
@media (max-width: 768px) {
	
	.nav {
		position: fixed;
		inset: 0 0 0 0;
		background: #65756B;
		z-index: 9;
	}

	.nav__list {
		flex-direction: column;
		justify-content: center;
	}

	.logo {
		position: absolute;
		top: 5%;
		left: 5%;
	}

	.nav__item {
		font-size: 4rem;
	}

	.mobile__nav-toggle {
		position: absolute;
		display: block;
		width: 1rem;
		background: url(../Assets/Images/hamburger-menu.svg);
		background-repeat: no-repeat;
		border: none;
		aspect-ratio: 1;
		top: 5%;
		right: 5%;
	}

}


/* size medium (tablet)*/
@media screen and (min-width: 768px) {
	
	img {
		height: 30vh;
	}
	
	
	.grid__template {
		grid-template-columns: repeat(2, 1.5fr 0.06fr);
		margin-left: 10px;
	}


	.grid__element {
		position: relative;
		margin-bottom: 10%;
	}

	.grid__number-wrap {
		visibility: visible; 
		transform: rotate(270deg);
		font-size: 0.624rem;
		width: auto;
		margin-left: -15px;
	}

	.footer__container {
		flex-direction: row;
		justify-content: space-between;

}

}

/* size large (desktops) */
@media screen and (min-width: 1200px) {
	.grid__template {
		grid-template-columns: repeat(3, 1.5fr 0.05fr);
	}

	img {
		height: 30vh;
		transition: border-radius 0.3s ease-in-out;
		transition-delay: 0.1s;
	}

	img:hover {
		border-radius: 40%;
	}


}