:root {
	--primary-color: #F0F0F0;
	--secondary-color: #CCC4B9;
	--font-color: #2A2A2A;
}

html {
	font-size: 16px;
}

body {
	background-color: var(--primary-color);
	font-family: "Founders Grotesk", sans-serif;
	max-width: 1900px;
	margin: auto;
	color: var(--font-color);
	text-transform: uppercase;
}

main {
	width: 90%;
	margin: 1rem auto;
}

img {
	width: 100%;
	height: 100%;
}

h1 {
	margin-bottom: 1rem;
	font-size: 2rem;
	font-weight: 600;
}

h2 {
	font-size: 1rem;
	font-weight: 400;
}

h4 {
	font-weight: 400;
}
	
p {
	padding: 0.2rem 0;
}

a {
	text-decoration: none;
	color: var(--font-color)
}


/* Navigation */
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
}

.nav__list {
	display: flex;
	gap: 1rem;
	list-style: none;
}

 .nav__link-border::after, .social__link-border::after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #000;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.3s;
	transition-delay: .1s;
 }

 .nav__link-border:hover::after, .social__link-border:hover::after {
	transform-origin: bottom left;
	transform: scaleX(1);
 }

.mobile__nav-toggle {
	display: none;
}

.mobile__nav-background {
	background-color: var(--primary-color);
	width: 100%;
	height: 8%;
	position: fixed;
	top: 0;
	z-index: 9;
}

.logo, .footer__logo, .logo__nav-toggle {
	font-weight: 700;
}


/* Header */
.header__section {
	margin: 1rem auto;
	padding: 6rem 0;
}

.section__container-centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 2rem;
	border: 8px solid var(--font-color);
}


/* Grid */
.grid__template {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(1, 1fr);
}

.description {
margin-top: 1%;
position: relative;
font-size: 0.702rem;
}

.description::before {
	content: "";
	width: 100%;
	height: 1px;
	background-color: #2A2A2A;
	position: absolute;
	top: -2px;
}

.grid__number-wrap {
	visibility: hidden;
}


/* About */
.section__about {
	margin: auto;
	padding: 4rem 0;
}


/* Footer */
.footer {
	width: 90%;
	margin: 1rem auto;
}

.footer__container {
	border-top: 1px solid black;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem 0;
}

.footer__nav {
	margin: 1rem 0;
}

.footer__list {
	display: flex;
	gap: 1rem;
	list-style: none;
}

.footer__scroll-top {
	font-weight: 700;
}



/* Mobile navigation */
@media (max-width: 768px) {
	
	.nav {
		position: fixed;
		inset: 0 0 0 0;
		background: #65756B;
		z-index: 9;
		transform: translateY(-100%);
		transition: transform 350ms ease-out;
	}

	.nav[data-visible="true"] {
		transform: translateY(0%);
	}
	
	.nav__list {
		flex-direction: column;
		justify-content: center;
	}

	.nav__link-border::after {
		content: none;
	}

	.logo__nav-toggle {
		display: block;
		position: fixed;
		z-index: 99;
		top: 3%;
		left: 3%;
	}
	
	.logo {
		display: none;
	}

	.nav__item {
		font-size: 4rem;
	}

	.nav__link:hover {
		color: var(--secondary-color);
		transition-delay: .1s;
	}

	.nav__link-home {
		color: var(--secondary-color);
	}

	.nav__link-home:hover {
		color: var(--font-color);
	}

	.mobile__nav-toggle {
		display: block;
		position: fixed;
		width: 4rem;
		height: 1rem;
		background-color: transparent;
		background-image: url(../Assets/Images/Menu.svg);
		background-repeat: no-repeat;
		background-size: contain;
		z-index: 99;
		border: none;
		top: 3%;
		right: 3%;
	}

	.mobile__nav-toggle[aria-expanded="true"] {
		background-image: url(../Assets/Images/close.svg);
	}

	.mobile__nav-toggle:hover {
		cursor: pointer;
	}

	.mobile__nav-toggle[aria-expanded="true"]:hover {
		cursor: pointer;
	}


}



/* size medium (tablet)*/
@media screen and (min-width: 768px) {
	
	img {
		height: 30vh;
	}

	.nav {
		display: flex;
		justify-content: space-between;
		position: fixed;
		width: 100%;
		max-width: 1900px;
		margin: auto;
		padding: 2rem 5rem;
		background-color: var(--primary-color);
		top: 0;
		z-index: 99;
	}

	.nav__home {
		display: none;
	}
	
	.grid__template {
		grid-template-columns: repeat(2, 1.5fr 0.06fr);
		margin-right: -22px;
	}

	.grid__element {
		position: relative;
		margin-bottom: 10%;
	}

	.grid__number-wrap {
		visibility: visible; 
		transform: rotate(270deg);
		font-size: 0.624rem;
		width: auto;
		margin-left: -15px;
	}

	.footer__container {
		flex-direction: row;
		justify-content: space-between;

}

}

/* size large (desktops) */
@media screen and (min-width: 1200px) {
	
	
	.nav {
		padding: 2rem 7rem;
	}

	.header__section {
		padding: 8rem 0;
	}
	
	.grid__template {
		grid-template-columns: repeat(3, 1.5fr 0.05fr);
	}

	img {
		height: 30vh;
		transition: border-radius 0.3s ease-in-out;
		transition-delay: 0.1s;
	}

	img:hover {
		border-radius: 40%;
	}

	.section__container-centered {
		padding: 4rem 20rem;
	}

	.section__about {
		padding: 8rem 0;
	}

	.grid__element-extra {
		display: none;
	}


}